<div class="row d-flex fill-flex justify-content-center falcone-header mb-5 mt-2">
  Finding Falcone!
</div>
<div class="row d-flex flex-row fill-flex justify-content-center destination-header mb-3">
  Select planets you want to search in
</div>
<div class="row">
  <div class="col-md-3 d-flex flex-column" *ngFor="let destination of destinations">
    <app-destinations [destination]="destination"></app-destinations>
  </div>
</div>
<div class="row">
  <div class="d-flex flex-row justify-content-center flex-fill time-taken">
    Time Taken: {{timeTaken | number: '1.0-0'}}
  </div>
</div>
<div class="row">
  <div class="d-flex flex-row justify-content-center flex-fill">
    <button class="btn btn-primary" type="button" (click)="findFalcone()" [disabled]="disabledBtn">Find Falcone</button>
  </div>
</div>
