<div class="destinations">
  <ng-select [items]="planets" placeholder="Type to search/select spaceships" bindLabel="name" bindValue="name"
             (change)="onChange($event)"
             [clearable]=false></ng-select>
  <ng-container *ngIf="selectedPlanet">
    <div class="form-check" *ngFor="let v of vehicles">
      <input class="form-check-input" type="radio" name="vehicle_{{destinationId}}" id={{destinationId}}_{{v.name}}
             (change)="onChangeVehicle(v)"
             [disabled]="checkDisabled(v)">
      <label class="form-check-label" for={{destinationId}}_{{v.name}}>
        {{v.name}}({{v.total_no}})
      </label>
    </div>
  </ng-container>
</div>
