/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~ng-snotify/styles/material";
@import "scss/variables";
@import "scss/helpers";
@import "scss/ng-select";

body {
  background-image: url('/assets/images/bg-image.PNG');
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  min-height: 100vh;
  font-family: signika;
  color: white;
}
