@font-face {
  font-family: mija-regular;
  src: url("/assets/fonts/mija-regular.ttf") format("truetype");
}
@font-face {
  font-family: signika;
  src: url("/assets/fonts/signika.ttf") format("truetype");
}
